<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true">

    <testsuites>
        <testsuite name="Default">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <!-- Example of using JUnit logging in PHPUnit 11 -->
        <junit outputFile="build/logs/junit.xml" />
    </logging>

</phpunit>
